.login_input{
  margin-left: 15px;
}


.centralized_outer{
  position: relative;
  width: 100%;
}

.centralized_inner{
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.unread{
  background-color: #FFFCF5;
  font-weight: bold;
}

.message_date{
  float: right;
}

#login{
  margin-top: 5em;
}

.clickable:hover{
  border-left: 2px solid;
}

.clickable_user:hover{
  border-left: 2px solid;
}


.red{
  color: red;
}
